.container {
    border: 6px solid lightgray;
    display: flex;
    height: 800px;
    align-items: baseline;
    /* align-items: flex-start | flex-end | center | stretch | space-between | space-around | baseline*/
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: lightblue;
    padding-bottom: 3rem;
}

.item-2 {
    background-color: lightyellow;
    padding-top: 7rem;
}

.item-3 {
    background-color: lightpink;
    padding-top: 10rem;
}