.main {
  display: flex;
  width: 1000px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px 100px;
  gap: 12px;

  border: 2px solid #123412;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  gap: 16px;
}
