body {
  padding: 200px;
}

.channel-info {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.channel-info > section {
  margin-bottom: 10px;
  align-items: center;
}

button {
  width: 200px;
  height: 50px;
  border: 1px solid rgb(250, 250, 250);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 1000;
}

.not-subscribed {
  background-color: rgb(180, 10, 10);
  color: white;
}

.subscribed {
  background-color: rgb(180, 180, 180);
}

.reactions button {
  width: 50px;
}
