.container {
    border: 6px solid lightgray;
    display: flex;
    height: 800px;
    width: 600px;
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightyellow;
    order: -1;
    /* order가 작은 순서부터 앞에 오게 된다. */
}

.item-3 {
    background-color: lightpink;
}

.item-4 {
    background-color: lightgreen;
}

.item-5 {
    background-color: lightsalmon;
    order: 2;
}

.item-6 {
    background-color: lightskyblue;
}