.container {
    border: 6px solid lightgray;
    display: flex;
}

.flex-item {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    flex-grow: 0;
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightyellow;
    flex-grow: 1;
}

.item-3 {
    background-color: lightpink;
    flex-grow: 3;
    /* item-2와 item-3만 flex-grow 값을 가지기 때문에 남는 px을 1:3으로 나눠서 갖게 된다. */
}

.item-4 {
    background-color: lightgreen;
}

.item-5 {
    background-color: lightsalmon;
}

.item-6 {
    background-color: lightskyblue;
}