.title {
    text-align: center;
}

.container {
    padding-left: 550px;
}

.button-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    width: 400px;
}

.button1 {
    background-color: lightgreen;
    text-decoration: none;
    border-radius: 25%;
    border-color: gold;
}

.button2 {
    background-color: #AA0000;
    text-decoration: none;
    color: white;
    border-radius: 25%;
    border-color: lightskyblue;
}

.button1:hover {
    opacity: 0.7;
    text-decoration: underline;
    background-color: lightgray;
}

.button2:hover {
    opacity: 0.3;
    text-decoration: underline;
    background-color: lightgray;
}