.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  padding: 0 50px;
  width: 50%;
  border: 2px solid #044c0b;
}

.backdrop {
  border-radius: 15px;
}
