.container {
    border: 6px solid lightgray;
    display: flex;
    width: 400px;
}

.flex-item {
    color: black;
    width: 120px;
    flex-shrink: 0;
    /* flex-shrink는 default가 1이므로 0을 넣어보며 테스트 해본다. */
}

.item-1 {
    background-color: lightblue;
}

.item-2 {
    background-color: lightyellow;
}

.item-3 {
    background-color: lightpink;
}

.item-4 {
    background-color: lightgreen;
    flex-shrink: 1;
    /* 하나의 item에만 적용할 수도 있다. */
}